{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Сумма заказа</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Редактирование заказа</th>
    </tr>

    {% for order, common_restaurants_with_distance in order_items %}
      <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.get_status_display }}</td>
          <td>{{ order.get_payment_way_display }}</td>
          <td>{{ order.firstname }} {{ order.lastname }}</td>
          <td>{{ order.phonenumber }}</td>
          <td>{{ order.address }}</td>
          <td>{{ order.total_cost }} ₽</td>
          <td>{{ order.comment }}</td>
          <td>
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% else %}
              <p>Может быть приготовлен ресторанами:</p>
              <ul>
                {% for restaurant, distance in common_restaurants_with_distance %}
                  <li>{{ restaurant.name }} - {{ distance }} км</li>
                {% empty %}
                  <li>Нет ресторанов, которые могут приготовить весь заказ</li>
                {% endfor %}
              </ul>
            {% endif %}
          </td>
          <td><a href="{% url 'admin:foodcartapp_order_change' object_id=order.id %}?next={{ request.path|urlencode }}">Редактировать</a></td>
      </tr>
    {% endfor %}


   </table>
  </div>
{% endblock %}
